@font-face {
    src: url('../../assets/fonts/poppins.ttf');
}

.root {
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.side_physical_button {
    -fx-background-radius: 30;
    -fx-font: 16px "Serif";
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-background-color: #353131;
}

.bankName {
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.shadowed {
    /*-fx-border-style: groove;*/
    /*-fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);*/
    /*-fx-border: 2 solid Black;*/
}

.choice_button {
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
    -fx-padding: 20 20 20 20;
    -fx-background-color: #DFE3F5;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.25), 5, 0, 0, 4);
    -fx-border-style: solid;
    -fx-border-color: #98A6DF;
    -fx-border-width: 1;
}
.custom_text_input {
    -fx-font-family: "Poppins Regular";
    /*-fx-font-weight: bold;*/
    -fx-font-size: 36px;
    -fx-padding: 20 20 20 20;
    -fx-background-color: #ffffff;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.65), 5, 0, 0, 4);
}
.green_button{
    -fx-text-fill: white;
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
    -fx-padding: 20 20 20 20;
    -fx-background-color: #0CBC8B;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.25), 5, 0, 0, 4);
    -fx-background-radius: 20;
}
.red_button {
    -fx-text-fill: white;
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
    -fx-font-size: 21;
    -fx-padding: 20 20 20 20;
    -fx-background-color: #FF0505;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.25), 5, 0, 0, 4);
    -fx-background-radius: 20;
    /*-fx-background-image: url("../../assets/images/EXIT.png");*/
    /*-fx-background-repeat:  no-repeat;*/
    /*-fx-background-size: contain;*/
    /*-fx-label-padding: 0 0 0 10;*/
}
.labels{
    -fx-font-family: "Poppins Regular";
    -fx-font-weight: bold;
}
.redBorder {
    -fx-border-width: 5px;
    -fx-border-color: #ff0000;
}